.navbar {
    background-color: #4e9fc8;
}

.nav-link {
    color: white;
    font-size: 20px;
    margin-right: 20px;
}

.review-btn {
    color: white;
    border: 1px solid white;
    margin-left: 7px;
    width: 140px;
}

.app-title {
    font-weight: bold;
    font-size: 24px;
}

.navbar-nav {
    align-items: center;
}

.main-container {
    height: 88vh;
    background-color: #e4e4e4;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.course-search {
    width: 300px;
}

li {
    list-style: none;
}

img.logo {
    width: 300px;
    height: 260px;
    margin: 70px !important;
}

.page-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}

.top-container {
    background-color: #ffffff;
    color: #040404;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    box-shadow: 2px 2px 3px #fe812d;
}

.top-content {
    display: flex;
    flex-direction: row;
}

.top-title {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-shadow: 2px 2px 8px #888888;
    width: 30%;
    text-align: left;
    padding: 70px;
    font-size: 40px;
}

.bottom-container {
    margin-top: 2px !important;
    display: flex;
    flex-direction: column;
    background-color: #e4e4e4;
}

