{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>AcadeMe</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/app_layout.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/homePage.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-sm">
      <div
        class="collapse navbar-collapse d-flex justify-content-between"
        id="collapsibleNavbar"
      >

        <ul class="navbar-nav">
            <li>
                <a class="nav-link mr-4 app-title" href="/">AcadeMe</a>
            </li>
            {% if not user.is_authenticated %}
            <li>
                <a class="nav-link mr-4" href="/login">Log In</a>
            </li>
            <li>
                <a class="nav-link mr-4" href="/register">Register</a>
            </li>
            {% else %}
            <li>
                <a class="nav-link mr-4" href="/logout">Log Out</a>
            </li>
            {% endif %}

        </ul>
        <ul class="navbar-nav">
            <li>
                <a class="nav-link mr-4" href="/contact_us">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>

<div class="text-center main-container" style="margin-bottom: 0">
    {% block content %} {% endblock %}
</div>
</body>
</html>
