{% extends 'app_layout.html' %} {% load static %} {% block content %}

<body>
  <div class="d-flex flex-column justify-content-center">
    <div
      class="
        top-container
        align-items-center
        d-flex
        flex-column
        justify-content-center
        align-items-center
      "
    >
      <div>
        <img
          class="course-list-logo my-3"
          src="{% static 'img/academe_logo.png' %}"
        />
      </div>
      <h2 class="my-4 font-weight-bold">{{ selectedCourse.name }}</h2>
    </div>
  </div>
  <div
    class="
      d-flex
      flex-row
      bottom-container
      justify-content-center justify-content-around
    "
  >
    <div class="mt-4 d-flex flex-column">
      <h4 class="my-3"><u>Some Important Info</u></h4>
      <ul>
        <li class="h5">
            <strong><u>University:</u></strong> {{ selectedCourse.university }}
        </li>
        {% if selectedCourse.mandatory%}
        <li class="h5 mt-3">
            <strong><u>Is This Course Mandatory?</strong></u> Yes </li>
        {% else %}
        <li class="h5 mt-3">
            <strong><u>Is This Course Mandatory?</strong></u> No </li>
        {% endif %}
        <li class="h5 mt-3 text-capitalize">
          <strong><u>Course Proffesor:</u></strong>   {{ selectedCourse.professor }}
        </li>
        <li class="h5 mt-3">
          <strong><u>Professor Description:</u></strong>
          {{ selectedCourse.professor.description }}</li>
        {% if selectedCourse.description %}
        <li class="h5 mt-3">
          <strong><u>Course Description:</u></strong>   {{ selectedCourse.description }}
        </li>
        {% else %}
        <li class="h5 mt-3">We currently have no Course Description</li>
        {% endif %}
      </ul>
    </div>
    <div class="mt-4 d-flex flex-column">
      <h4 class="my-3">Conncet To Message Board!</h4>
      <a class="btn btn-primary" href="/msgboard/?course_id={{  selectedCourse.course_id }}">{{ selectedCourse }}</a>
    </div>
    
  </div>
</body>

{% endblock %}