{% extends 'app_layout.html' %}
{% load static %}
{% block content %}

<body>
    <div class="d-flex flex-column justify-content-center">
       <div
          class="
          top-container
          align-items-center
          d-flex
          flex-column
          justify-content-center
          align-items-center
          "
          >
          <div>
             <img class="course-list-logo my-3" src="{% static 'img/academe_logo.png' %}" />
          </div>
       </div>
    </div>
    <div class="d-flex flex-column bottom-container justify-content-center">
        <h2><strong> Name is:</strong> {{ selectedCourse.name }}</h2>
        <h2><strong>Mandatory Course:</strong> {{ selectedCourse.mandatory }}</h2>
        <h2><strong>Course Proffesor:</strong> {{ selectedCourse.professor }}</h2>
        {% if selectedCourse.description %}
            <h2><strong>Course Description:</strong> {{ selectedCourse.description }}</h2>
        {% else %}
            <h3> We currently have no Course Description </h3>
        {% endif %}

    </div>
</body>

{% endblock %}