{% extends 'app_layout.html' %} {% load static %} {% block content %}

<body>
    <div class="d-flex flex-column justify-content-center text-center">
      <div
        class="
          top-container
          align-items-center
          d-flex
          flex-column
          justify-content-center
          align-items-center
        "
        >
        <div>
          <img
            class="course-list-logo my-3"
            src="{% static 'img/academe_logo.png' %}"
          />
        </div>

{% endblock %}