<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>AcadeMe</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/homePage.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm">
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#collapsibleNavbar"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link app-title" href="/">AcadeMe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sign_in">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sign_up">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact_us">Contact Us</a>
            </li>
        </ul>
        <ul class="nav-item ml-auto"></ul>
    </div>
</nav>

<div class="page-container">
    <div class="top-container">
        <div class="top-content">
            <img class="logo" src="{% static 'img/logo.jpg' %}"/>
            <div class="top-title">
                <div>Welcome To AcadeMe.</div>
            </div>
        </div>
    </div>
    <div class="flex-row bottom-container justify-content-center" style="margin-top: 30px">
        <div class="flex-col m-5">
            <h3 class="my-1">Choose University</h3>
            <div>
                <select aria-label="choose-university" id="selectContentUniversity">
                    <option selected>Choose University</option>
                    <option value="1">Reichman University</option>
                    <option value="2">Hebrew University of Jerusalem</option>
                    <option value="3">Ben Gurion University</option>
                    <option value="4">Tel-Aviv University</option>
                    <option value="5">Technion University</option>
                </select>
            </div>
        </div>
        <div class="flex-col m-5">
            <h3 class="my-1">Choose Degree</h3>
            <div>
                <select aria-label="choose-degree" id="selectContentDegree">
                    <option selected>Choose Degree</option>
                    <option value="1">Computer Science</option>
                    <option value="2">Psychology</option>
                    <option value="3">Business Administration</option>
                    <option value="4">Law</option>
                    <option value="5">Sustainability</option>
                </select>
            </div>
        </div>
    </div>
</div>

</body>
</html>